In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
pd.options.display.max_columns = 999

School demographic data.

In [5]:
df = pd.read_csv('resources/2013_-_2018_Demographic_Snapshot_School.csv')
df.head()

,DBN,School Name,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,# Female,% Female,# Male,% Male,# Asian,% Asian,# Black,% Black,# Hispanic,% Hispanic,# Multiple Race Categories Not Represented,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,23,0,0,0,0,0,0,0,93,48.9,97,51.1,9,4.7,72,37.9,104,54.7,2,1.1,3,1.6,65,34.2,19,10.0,171,90.0,No Data
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,24,0,0,0,0,0,0,0,84,45.9,99,54.1,8,4.4,65,35.5,107,58.5,1,0.5,2,1.1,64,35.0,17,9.3,169,92.3,93.5%
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,18,0,0,0,0,0,0,0,83,47.2,93,52.8,9,5.1,57,32.4,105,59.7,3,1.7,2,1.1,60,34.1,16,9.1,149,84.7,89.6%
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,18,0,0,0,0,0,0,0,83,46.6,95,53.4,14,7.9,51,28.7,105,59.0,4,2.2,4,2.2,51,28.7,12,6.7,152,85.4,89.2%
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,26,0,0,0,0,0,0,0,99,52.1,91,47.9,20,10.5,52,27.4,110,57.9,2,1.1,6,3.2,45,23.7,8,4.2,161,84.7,89.0%

In [3]:
df.shape

(8972, 39)

**Note** I am interested in whether school size captures anything. Should I consider school size and the size of relevant grades or is one better than the other?

In [7]:
new_cols = ['dbn', 'school', 'year', 'total_enrollment', 'grd_pk', 'grd_k', 'grd_1', 'grd_2', 'grd_3', 'grd_4', 'grd_5', 'grd_6', 'grd_7', 'grd_8', 'grd_9', 'grd_10', 'grd_11', 'grd_12', 'n_female', 'perc_female', 'n_male', 'perc_male', 'n_asian', 'perc_asian', 'n_black', 'perc_black', 'n_hispanic', 'perc_hispanic', 'n_notrep', 'perc_notrep', 'n_white', 'perc_white', 'n_disab', 'perc_disab', 'n_ell', 'perc_ell', 'n_pov', 'perc_pov', 'eni']
cols_map = {df.columns[i]: new_cols[i] for i in range(len(df.columns))}
df.rename(index=str, columns=cols_map, inplace=True)
df.head()

,dbn,school,year,total_enrollment,grd_pk,grd_k,grd_1,grd_2,grd_3,grd_4,grd_5,grd_6,grd_7,grd_8,grd_9,grd_10,grd_11,grd_12,n_female,perc_female,n_male,perc_male,n_asian,perc_asian,n_black,perc_black,n_hispanic,perc_hispanic,n_notrep,perc_notrep,n_white,perc_white,n_disab,perc_disab,n_ell,perc_ell,n_pov,perc_pov,eni
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,23,0,0,0,0,0,0,0,93,48.9,97,51.1,9,4.7,72,37.9,104,54.7,2,1.1,3,1.6,65,34.2,19,10.0,171,90.0,No Data
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,24,0,0,0,0,0,0,0,84,45.9,99,54.1,8,4.4,65,35.5,107,58.5,1,0.5,2,1.1,64,35.0,17,9.3,169,92.3,93.5%
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,18,0,0,0,0,0,0,0,83,47.2,93,52.8,9,5.1,57,32.4,105,59.7,3,1.7,2,1.1,60,34.1,16,9.1,149,84.7,89.6%
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,18,0,0,0,0,0,0,0,83,46.6,95,53.4,14,7.9,51,28.7,105,59.0,4,2.2,4,2.2,51,28.7,12,6.7,152,85.4,89.2%
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,26,0,0,0,0,0,0,0,99,52.1,91,47.9,20,10.5,52,27.4,110,57.9,2,1.1,6,3.2,45,23.7,8,4.2,161,84.7,89.0%

No missing data

In [8]:
df.shape[0] - df.count()

dbn                 0
school              0
year                0
total_enrollment    0
grd_pk              0
grd_k               0
grd_1               0
grd_2               0
grd_3               0
grd_4               0
grd_5               0
grd_6               0
grd_7               0
grd_8               0
grd_9               0
grd_10              0
grd_11              0
grd_12              0
n_female            0
perc_female         0
n_male              0
perc_male           0
n_asian             0
perc_asian          0
n_black             0
perc_black          0
n_hispanic          0
perc_hispanic       0
n_notrep            0
perc_notrep         0
n_white             0
perc_white          0
n_disab             0
perc_disab          0
n_ell               0
perc_ell            0
n_pov               0
perc_pov            0
eni                 0
dtype: int64

***

Create a dataframe for each year and then merge them on dbn